/* --- MEME CARDS --- */
.meme-card {
    position: relative;
    width: 18rem;
    height: 33rem;
    display: flex;
    flex-direction: column;
    display: none;
}

.meme-img {
    height: 12rem;
    object-fit: cover;
}

.meme-title {
    min-height: 2rem;
}

.meme-desc {
    min-height: 2rem;
}

.meme-card .card-body {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 0;
}

/* --- MEME FORMS --- */
.meme-form {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    margin-right: 20px;
}

.meme-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    align-items: center;
    margin-right: 20px;
}

.meme-form .form-row {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.meme-form input,
.meme-form select,
.meme-form textarea {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

.meme-form label {
    margin-bottom: 0.25rem;
}

/* --- SOUND BUTTONS --- */
.sound-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 0.5rem;
    width: 100%;
    margin-left: -17px;
    margin-top: 4px;
}

.sound-btn {
    width: 5.5rem;
    height: 3rem;
    font-size: 13px !important;
}