<head>
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="30" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Face Meme</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.7.1.js"></script>
</head>
<body style="height: 200px; width: 300px;">
    <div id="image" style="height: 200px; width: 300px; background-size: 300px 200px; background-repeat: no-repeat; background-attachment: fixed"class="parent">
        <h1 id="top-text" style="text-align: center; color: white; text-shadow: 3px 0 #000, -3px 0 #000, 0 3px #000, 0 -3px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000; word-wrap: break-word" class="top"></h1>
        <h1 id="bottom-text" style="text-align: center; color: white; text-shadow: 3px 0 #000, -3px 0 #000, 0 3px #000, 0 -3px #000, 1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000; bottom: 0; word-wrap: break-word" class="bottom"></h1>
    </div>
    <script>
        function updateMeme(memeinfo) {
            const elementTopText = document.getElementById("top-text");
            const elementBottomText = document.getElementById("bottom-text");
            elementTopText.innerHTML = memeinfo.top_text;
            elementBottomText.innerHTML = memeinfo.bottom_text;
        }
        const requestOptions = {
            method: 'PUT',
            headers: { 'Content-Type': 'application/json' },
        };
        const url = "/handle_put_facememe";
        fetch(url, requestOptions)
        .then(response => response.json())
        .then(updateMeme);
    </script>
</body>
</html>