<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Face Meme</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/meme.css">

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="../static/js/facememe.js"></script>
</head>
<body class="meme-view">
    <div id="image">
        <h1 id="top-text"></h1>
        <h1 id="bottom-text"></h1>
    </div>
</body>
</html>