<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sound Meme</title>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="../static/css/meme.css">

    <!-- Scripts -->
    <script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>
    <script src="../static/js/soundmeme.js"></script>
</head>
<body style="background-color: black; text-align: center; padding-top: 50px;">
    <!-- Content dynamically injected by JS -->
</body>
</html>
